@import 'variables.scss';

.bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: black;
}

.tabs {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: calc(100% - 150px);
	margin: 0;
	padding: 0;

	border-bottom: solid 10px black;
}

.toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	background-color: black;
	color: white;
	text-align: center;
	vertical-align: middle;

	border-bottom: solid 10px $teal;
}

.enabled {
	background-color: $lightteal;
	color: black;
	border: none;
	box-shadow: none;
	border-bottom: solid 10px black;
}
