@import 'variables.scss';

.search {
	color: black;
	background-color: $teal;
	font-size: large;
	border-bottom: solid 2px black;
	box-shadow: 0px 0px 10px black;
}

ul {
	margin: 0;
	list-style: none;
}
