@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import 'Variables';

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}