@import "Variables";

.landing{
  width: 30em;
  background: $blue;
  margin: 20% auto;
  border-radius: 20px;
  text-align: center;

  h1{
    width: 100%;
    text-align: center;
  }

  form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 20em;
    align-items: center;
  }
}