.bar{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
}

.tab-buttons{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: red;
    .main{
        
        color: red;
    }
}

.tabs{
    height: 100%;
    display: flex;
    align-content: center;
    
}

.tab{
    padding: 20px;
    display: flex;
    border-width: 10px;
    border-color: black;
}

.tab-header{
    margin: 0;

}

.r{
    background-color: lightblue;
}

.b{
    background-color: blue;
}

