@import 'Variables';



.info-entry{
    display: flex;
    flex-direction: column;
    width: 30em;
    margin: 20% auto 0;
    padding: 2em;
    
    
}

.p1{
    background-color: $blue;
}

.p2{
    background-color: $green;
}

.p3{
    background-color: $red;
}